body{
    background-color: black;
    color: green;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

input{
    font-family: 'Courier New', Courier, monospace;
    background-color: gray;
    color: white;
    border: none;
}

input#txtvel{
    width: 40px;
}

