body{
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: green;
}

h1,footer{
    text-align: center;
}

footer{
    font-size: small;
    font-style: italic;
}

section{
    color: white;
    background-color: gray;
    border-radius: 10px;
    padding: 15px;
    width: 450px;
    margin:auto;
    box-shadow: 3px 3px 5px darkgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div#dados{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

select{
    appearance: none;
    overflow: hidden;
    width: 150px;
    padding: 5px;
    border: 1px solid white;
}

input, select{
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

input#btn{
    margin-left: 25%;
}